[Desktop Entry]
Version=1.0
Type=Application
Name=pgopher
Comment="PGOPHER, a program for rotational, vibrational and electronic spectra"
Exec=pgopher
Icon=pgopher
Categories=Science;
